#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.active{
  color: orangered;
  &:hover{
    text-decoration: underline;
  }
}

.mainPage{
  padding: 10px;
  &__conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
  }
}